/* Style the sidebar links */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    color: var(--theme-font-color__primary);
    text-decoration: none;
    padding: 10px 0;
  }
.sidebar {
  background: var(--theme-background__white);
}
  