header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  /* Add styles for the navigation menu */
  nav {
    /* display: none; */
    color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav li {
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  /* Add styles for the hamburger menu icon */
  .menu-icon {
    cursor: pointer;
    display: none;
  }
  .menu-icon img {
    height: 30px;
  }
  /* Add media query for small screens */
  @media only screen and (max-width: 768px) {
    nav {
      display: none;
    }
    .menu-icon {
      display: block;
    }
    header {
      flex-direction: column;
      align-items: flex-start;
    }
    header img {
      margin-bottom: 10px;
    }
    .menu-icon img {
      margin-left: auto;
      margin-right: 20px;
    }
    nav.active {
      display: block;
    }
  }