:root {
  --theme-font-color__primary: #CDD2D5;
  --theme-background: #F5F5F5;
  --theme-background__white: #FFFFFF;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.k-flex {
  display: flex;
}

.k-jcc {
  justify-content: center;
}

.k-jcsb {
  justify-content: space-between;
}

.k-aic {
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}