:root {
  --theme-font-color__primary: #445965;
  --theme-background: #F5F5F5;
  --theme-background__white: #FFFFFF;
  --theme-background__thead: #E7F6F6;

  --theme-primary-font-size: 15px;
  --theme-primary-line-height:22px;

  --theme-secondary-font-size:13px;
  --theme-secondary-line-height: 20px;

  --theme-septenary-font-size: 11px;
  --theme-senary-line-height: 18px;

  --theme-primary-font-weight: 500;
  --theme-secondary-font-weight: 400;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.k-flex {
  display: flex;
}

.k-fdc {
  flex-direction: column;
}

.k-fdr {
  flex-direction: row;
}

.k-jcc {
  justify-content: center;
}

.k-jcsb {
  justify-content: space-between;
}

.k-aic {
  align-items: center;
}


.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.k-pl16 {
  padding-left: 16px;
}

.k-pr16 {
  padding-right: 16px;
}

.k-pt16 {
  padding-top: 16px;
}

.k-pb16 {
  padding-bottom: 16px;
}
.k-pl4 {
  padding-left: 4px;
}

.k-pr4 {
  padding-right: 4px;
}

.k-pt4 {
  padding-top: 4px;
}

.k-pb4 {
  padding-bottom: 4px;
}