.main-head {
    grid-area: header;
  }
  .content {
    grid-area: content;
  }
  .side {
    grid-area: sidebar;
  }
  .main-footer {
    grid-area: footer;
  }

  .l-wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }

  @media (min-width: 500px) {
    .l-wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    }
  }